body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px;
}

h1 {
  margin-bottom: 20px;
  color: #333333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.recipe-container {
  margin: 20px;
}

.carousel-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 10px;
  align-content: center;
}

.carousel-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.recipe-instructions {
  margin-top: 10px;
  text-align: left;
}

.recipe-image {
  max-width: 30%;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
}

.recipe-ingredients {
  margin-top: 10px;
  text-align: left;
}

.loading {
  font-size: 18px;
  color: #007bff;
}
